<script>
  angular.module('emailExample', [])
  .controller('ExampleController', ['$scope', function($scope) {
    $scope.email = {
      text: 'me@example.com'
    };
  }]);
</script>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form  name="contactForm">
        <div class="form-group">
          <label for="name">Name <span ng-show="contactForm.name.$error.required">(required)</span></label>
          <input type="text" name="name" class="form-control" placeholder="Name" ng-model="user.name" required>
        </div>

        <div>
          <label for="email">Email <span ng-show="contactForm.email.$error.required">(required)</span></label>
          <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>

          <span ng-show="contactForm.email.$error.email">Not a valid email!</span>
        </div>

        <br>

        <div class="form-group">
          <label for="comment">Comment</label> 
          <textarea type="text" class="materialize-textarea" ng-model="user.comment" required></textarea>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-success btn-lg btn-block" ng-click="update(user)">
            <span class=""> Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>