<div class="slider">
	<ul class="slides">
		<li>
			<img src="img/slider/terrace-beach-house.jpg">
			<div class="caption center-align">
				<h3>Terraces</h3>
				<h5 class="light grey-text text-lighten-3">Pretentious phrase here</h5>
			</div>
		</li>
		<li>
			<img src="img/slider/Dining_Room.jpg"> 
			<div class="caption left-align">
				<h3>Dinning Rooms</h3>
				<h5 class="light grey-text text-lighten-3">Brothers-in-law's paradise</h5>
			</div>
		</li>
		<li>
			<img src="img/slider/cozy.jpg"> 
			<div class="caption right-align">
				<h3>Main Rooms</h3>
				<h5 class="light grey-text text-lighten-3">After a Zombie Apocalypse</h5>
			</div>
		</li>
		<li>
			<img src="img/slider/bright-living-room.jpg"> 
			<div class="caption center-align">
				<h3>Kid's Rooms</h3>
				<h5 class="light grey-text text-lighten-3">The origin of Evil</h5>
			</div>
		</li>
	</ul>
</div>